* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url(bg.jpg) center/cover;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #ffffff29;
  backdrop-filter: blur(25px);
  padding: 70px;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  border-radius: 35%;
}

header{
  font-size: 30px;
}

.form_wrapper{
  display: flex;
  align-items: center;
}

.triangle{
  width: 40px;
  height: 40px;
  background-color: white;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.triangle.left{
  transform: rotate(-90deg);
}
.triangle.right{
  transform: rotate(90deg);
}

input{
  height: 40px;
  border: none;
  outline: none;
  padding: 0 10px;
}

button{
  height: 40px;
  padding: 0 20px;
  background-color: darkred;
  border: none;
  color: white;
  font-weight: bold;
}
.triangle.btn{
  background-color: darkred;
}

a{
  color: white;
}